---
import { parse } from 'cookie';

const title = Astro.props.title || "Broslunas TODO";

const cookies = parse(Astro.request.headers.get('cookie') || '');
const isLoggedIn = cookies['loggedIn'] === 'true';

const menu = [
	{
		link: '/',
		label: 'Inicio',
	},
	{
		link: '/app',
		label: 'App',
		hidden: !isLoggedIn,
	},
	{
		link: '/auth/login/',
		label: 'Login',
		hidden: isLoggedIn,
	},
	{
		link: '/auth/register/',
		label: 'Registro',
		hidden: isLoggedIn,
	},
];
---
<header>
    <div class="header-container">
        <a class="header-link" href="/">
            <h1 class="header-title">{title}</h1>
        </a>
    </div>
    <div class='menu-container'>
		<div class='menu'>
			{menu
				.filter((item) => !item.hidden)
				.map((item) => (
					<div class='menu-item'>
						<a href={item.link}>{item.label}</a>
					</div>
				))}
		</div>
	</div>
</header>